@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// 輸入色票的地方，改下面XD
$mainColor: #405778; //按鈕
$darkColor: #372c3a; //標題
$color_yellow: #9db8d7; //列表
$color_tomato: #90a955; //列表highlight
$color_white: #fff; //白
$color_bg: #f2e9e4; //背景
$color_btn: #fff; //按鈕字
$color_refreshBg: #de9631; //重整背景
